/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'pba';
  src: url('pba.ttf') format("truetype");
 }

 @font-face {
   font-family: 'lovelo';
   src: url('lovelo.ttf') format("truetype");
  }

  @font-face {
    font-family: 'open_sansregular';
    src: url('open_sansregular.ttf') format("truetype"),
         url('open_sansregular.woff') format("woff");
   }


.visit, html {
  font-family: 'lovelo', cursive;
  font-size: 0.95rem;
  background: #1d1d1e;
  color: white;
  overflow: scroll;
}

.visit a  {
  color: #1d1d1e;
}

.visit section:nth-child(1) h2 {
  font-weight: lighter;
}


/*==========================================
                Header
============================================*/

header {
  background: #1d1d1e;
  z-index: 55;
  color: white;
}

.logoLille {
  letter-spacing: 0.2rem;
}

header h1 {
  font-size: 1.05rem;
}

header h1 span {
  font-size: 0.9rem;
}
header .fas {
  font-size: 1.3rem;
}

 header nav div > a img:nth-child(1) {
   width: 1.6rem;
 }

header h1{
  font-family: 'pba', cursive;
}

header a, .navbar-brand h1, header {
  color: white;
  transition: 0.2s ease-in;
}

.visit header p {
  font-size: 15px;

}

header a:hover, .nav-link:hover, .vignette:hover, .visit a:hover, .navbar-brand h1:hover, header .fas:hover  {
  color: #d8383f;
  text-decoration: none;
}


header span, header select, header nav > a:last-child {
  display: none;
}

.visit h2 {
  font-size: 14px;
}

main {
  overflow: hidden;
}

.visit main a {
  background: #e9e9e9;
  margin-bottom: 1.5rem;
  padding: 1rem 0 1rem 0;
}

.visit main a strong {
  font-size: 17px;
}

.visit main section:nth-child(1) a strong{
  font-size: 19px;
}

.travel .vignette p {
  font-size: 12px;
}
header button img {
  width: 23.5px;
  height: 22px;
}

/*==========================================
              Index
============================================*/




/*==========================================
              Visit img background
============================================*/

.travel a:nth-child(2) {
  background: url("../img/Beaux-Gosses.jpg");

}

.travel a:nth-child(3) {
  background: url("../img/Le-grand-bleu.jpg");

}

.travel a:nth-child(4) {
  background: url("../img/Love-etc.jpg");
}

.travel a:nth-child(5) {
  background: url("../img/A-Table-!.jpg");
}

.travel a:nth-child(6) {
  background: url("../img/Anges-et-Demons.jpg");
}

.travel a:nth-child(7) {
  background: url("../img/Histoires-de-betes.jpg");
}

.travel a:nth-child(8) {
  background: url("../img/Blondes-et-brunes.jpg");
}

.travel a:nth-child(9) {
  background: url("../img/Ar-t-chitecture.jpg");
}

.incontournables a:first-child {
  background: url("../img/4-oeuvres.jpg");
}

.incontournables a:nth-child(2) {
  background: url("../img/8-oeuvres.jpg");
}

.incontournables a:nth-child(3) {
  background: url("../img/12-oeuvres.jpg");
}

.travel a:nth-child(2), .travel a:nth-child(3), .travel a:nth-child(4), .travel a:nth-child(5), .travel a:nth-child(6), .travel a:nth-child(7), .travel a:nth-child(8), .travel a:nth-child(9), .incontournables a:first-child,
.incontournables a:nth-child(2), .incontournables a:nth-child(3)  {
  background-position: center center;
  background-size: cover;
}

/*==========================================
                Visit
============================================*/


.visit .vignette {
  padding-bottom: 101.563%;
}

.vignette > div {
  justify-content: space-between;
  height: 130px;
  padding: 26.5px 26.5px 0 26.5px;
  background: white;
  width: 65.625%;
  left: 17.188%;
  bottom: 133px;
}

.vignette h2 {
  font-size: 26px;
  line-height: 1.6rem;
}

.travel .vignette h2 {
  height: 25px;
}

.vignette p, footer .application div p:nth-child(3) {
  font-family: 'open_sansregular' ,cursive;

}

.vignette strong, .fa-clock {
  line-height: 1.85rem;
  font-size: 17px;
}

main section:last-child {
  background: white;
}

main section:last-child h2 {
  font-size: 24px;
  color: #1d1d1e;
}

/*==========================================
                Application overlay
============================================*/

/* Principal Container*/
.overlay-image {
 position: relative;
 width: 100%;
}

/* Original image*/
.overlay-image .image {
 display: block;
 height: auto;
}

/* Overlay */
.overlay-image .hover {
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .5s ease;
}

.hover:hover {
  opacity: 1;
}

.incontournables span {
  font-family: 'open_sansregular', cursive;
  font-size: 12px;
  line-height: 0.8rem;
}

main section:last-child .time h2 {
  font-size: 41px;
}

.time {
  bottom: 23px;
  right: 30px;
}

.incontournables .vignette > div {
  min-height: 150px;
}
/*==========================================
              Footer
============================================*/


footer {
  overflow: hidden;
}
footer .application {

  background: #d8383f;
   transition: .2s ease;
}

footer .application:hover {
  background: white;
}

footer .application  {
  color: white;
  overflow: hidden;
}

footer .application:hover {
  color: #d8383f;
  text-decoration: none;
}

.borderFooter {
  border: 2px solid white;
  padding: 15px;
}

 .borderFooter:hover {
  border-color: #d8383f;

}

footer .application div p:nth-child(3) {
  text-transform: uppercase;
}

footer .application .overlay-image {
  padding: 0 27.5px;
}

/*==========================================
              Responsive
============================================*/


@media (min-width: 640px) {

 }

 @media (min-width: 1280px) {

  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
