/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
 font-family: 'pba';
 src: url('pba.ttf') format("truetype");
}

@font-face {
  font-family: 'lovelo';
  src: url('lovelo.ttf') format("truetype");
}

@font-face {
  font-family: 'open_sansregular';
  src: url('open_sansregular.ttf') format("truetype"),
       url('open_sansregular.woff') format("woff");
 }

 .visit, html {
  font-family: 'lovelo', cursive;
  font-size: 0.95rem;
  background: #1d1d1e;
  overflow: scroll;
  transition: 0.2s ease-in;
}

.visit, .navbar-light .navbar-nav .nav-link , .visit header a {
  color: white;
}




/*==========================================
                Header
============================================*/

header {
  background: #1d1d1e;
  z-index: 55;
  padding: 0.5rem;
}

header input[type="search"] {
  background-color: #1D1D1E;
  color: #FFF;
  width: 161px;
  height: 35px;
  border: 4px solid #FFF;
  position: relative;
  padding-right: 30px;
  padding-left: 5px;
}

header form {
  position: relative;
  width: 160px;
}

header input[type="submit"]{
  background: url("../img/search.svg") no-repeat center;
  position: absolute;
  top: 7px;
  right: 11px;
  width: 20px;
  height: 27px;
  border: none;
  cursor: pointer;
  background-size: 18px;
}

header .navbar div:nth-child(1) {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.logoLille {
  letter-spacing: 0.2rem;
}

header h1 {
  font-size: 1.05rem;
  flex-direction: column;
}

header h1 span {
  font-size: 0.9rem;
}

.navbar div:nth-child(2) {
  -ms-flex: 0 0 25%;
flex: 0 0 25%;
max-width: 25%;
}

header .fas {
  font-size: 1.3rem;
  color: white;
}

header .navbar div:nth-child(1) {
  justify-content: flex-start;
}

 header nav div > a img:nth-child(1) {
   width: 1.6rem;
 }

header h1{
  font-family: 'pba', cursive;
}

header a, .navbar-brand h1, header {
  color: white;
  transition: 0.2s ease-in;
}

.visit header p {
  font-size: 15px;
}

.visit a {
  color: #1D1D1E;
}

header a:hover, .nav-link:hover, .vignette:hover, .visit a:hover, .navbar-brand h1:hover, header .fas:hover  {
  color: #d8383f;
  text-decoration: none;
}


header span, header select, header nav > a:last-child, .pba {
  display: none;
}

header nav > a:last-child {
  width: 55px;
}

header select {
  color: white;
  background: none;
  border: none;
  font-family: 'open_sansregular', sans-serif;
}

.visit h2 {
  font-size: 14px;
}

main {
  overflow: hidden;
}

.visit main a {
  background: #e9e9e9;
  margin-bottom: 1.5rem;
  padding: 1rem 0 1rem 0;
}

.visit main a strong {
  font-size: 17px;
}

.visit .selectPeople a strong {
  font-size: 19px;
}

.travel .vignette p {
  font-size: 12px;
}
header button img {
  width: 23.5px;
  height: 22px;
}



/*==========================================
              Index
============================================*/


/* =======================================================================
----------------------------| 4 images | ---------------------------------
======================================================================= */
.gallery {
    position: relative;
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
}
.gallery .img-fluid {
    width: 100%;
}

.four-images {
    margin-right: 0;
    margin-left: 0;
}

.text_over_image a {
    position: absolute;
    color:#000000;
    bottom: 10%;
    left: 30%;
    width: 200px;
    height: 200px;
    background: #ffffff;
    overflow:hidden;
    padding: 10px;
}


.five_images .row {
    margin: 0
}


/*==========================================
              Visit img background
============================================*/

.travel a:nth-child(2) {
  background: url("../img/Beaux-Gosses.jpg");

}

.travel a:nth-child(3) {
  background: url("../img/Le-grand-bleu.jpg");

}

.travel a:nth-child(4) {
  background: url("../img/Love-etc.jpg");
}

.travel a:nth-child(5) {
  background: url("../img/A-Table-!.jpg");
}

.travel a:nth-child(6) {
  background: url("../img/Anges-et-Demons.jpg");
}

.travel a:nth-child(7) {
  background: url("../img/Histoires-de-betes.jpg");
}

.travel a:nth-child(8) {
  background: url("../img/Blondes-et-brunes.jpg");
}

.travel a:nth-child(9) {
  background: url("../img/Ar-t-chitecture.jpg");
}

.incontournables a:first-child {
  background: url("../img/4-oeuvres.jpg");
}

.incontournables a:nth-child(2) {
  background: url("../img/8-oeuvres.jpg");
}

.incontournables a:nth-child(3) {
  background: url("../img/12-oeuvres.jpg");
}

.travel a:nth-child(2), .travel a:nth-child(3), .travel a:nth-child(4), .travel a:nth-child(5), .travel a:nth-child(6), .travel a:nth-child(7), .travel a:nth-child(8), .travel a:nth-child(9), .incontournables a:first-child,
.incontournables a:nth-child(2), .incontournables a:nth-child(3)  {
  background-position: center center;
  background-size: cover;
}

/*==========================================
                Visit
============================================*/

.travel > div img {
  width: 3.7rem;
}

.visit .vignette {
  padding-bottom: 101.563%;
}

.vignette > div {
  justify-content: space-between;
  height: 130px;
  padding: 26.5px 26.5px 0 26.5px;
  background: white;
  width: 65.625%;
  left: 17.188%;
  bottom: 133px;
}

.vignette h2 {
  font-size: 26px;
  line-height: 1.6rem;
}

.travel .vignette h2 {
  height: 25px;
}

.vignette p, footer .application div p:nth-child(3) {
  font-family: 'open_sansregular' ,cursive;

}

.vignette strong, .fa-clock {
  line-height: 1.85rem;
  font-size: 17px;
}

main section:last-child {
  background: white;
}

main section:last-child h2 {
  font-size: 24px;
  color: #1d1d1e;
}

/*==========================================
                Application overlay
============================================*/

/* Principal Container*/
.overlay-image {
 position: relative;
 width: 100%;
}

/* Original image*/
.overlay-image .image {
 display: block;
 height: auto;
}

/* Overlay */
.overlay-image .hover {
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .5s ease;
}

.hover:hover {
  opacity: 1;
}

.incontournables span {
  font-family: 'open_sansregular', cursive;
  font-size: 12px;
  line-height: 0.8rem;
}

main section:last-child .time h2 {
  font-size: 41px;
}

.time {
  bottom: 23px;
  right: 30px;
}

.incontournables .vignette > div {
  min-height: 150px;
}


/*==========================================
                Agenda
============================================*/

.agenda {
  text-align: center;
  margin-top: 30px;
}

.far {
  font-size: 40px;
}

.agenda >p {
  font-family: 'lovelo';
  font-size: 14px;
  margin-top: 15px;
}

.agendaPage .fa {
    position: relative;
    bottom: 40px;
  }

.number {
  display: none;
}

.agendaPage .dropdown {
  text-align: center;
  position: relative;
  bottom: 35px;
}

.agendaPage .btn {
  height: 38px;
  width: 240px;
  border-radius: 0px;
  color: black;
  background: transparent;
  border-color: black;
  border-width: 4px;
  margin-top: 10px;
  border-color: #1d1d1e;
}

.agendaPage .btn > p {
  position: relative;
  bottom: 3px;
  right: 2px;
  font-family: 'lovelo';
  font-size: 17px;
  color: #1d1d1e;
}

.agendaPage .chevron.bottom {
  border-style: solid;
  border-width: 0.95em 0.95em 0 0;
  content: '';
  display: inline-block;
  color: #1d1d1e;
  height: 1.95em;
  left: 0.15em;
  position: relative;
  top: 1px;
  transform: rotate(135deg);
  vertical-align: top;
  width: 1.95em;
  font-size: 8px;
}

.agendaPage p > .fa {
  font-size: 24px!important;
  position: relative;
  top: 5px;
}
.agendaPage .btn:hover: {
  color: black;
  background: transparent;
  border-color: black;
  border-width: 3px;
}

.agendaPage .figure-img {
  height: 274px;
  width: 100%;
  object-fit: cover;
}

.agendaPage .figure-caption {
  font-family: 'lovelo';
  color: #1d1d1e;
  margin-left: 30px;
  font-size: 16px;
}

.agendaPage .pric {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
}

.agendaPage .visite {
  font-family: sans-serif;
  text-transform: uppercase;
  color: #935297;
}

.agendaPage .visitePres {
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  bottom: 6px;
}

.agendaPage .duree {
  text-transform: capitalize;
}


.agendaPage .pagination {
  position: relative;
  height: 38px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.agendaPage .noM {
  display:none;
}

.agendaPage .next {
  position: absolute;
  right: 20px;
}

.agendaPage .prev {
  position: absolute;
  left: 20px;
}

.agendaPage .page-link {
  color: black!important;
}

.agendaPage .next > a {
  border-width: 4px;
  border-color: #1d1d1e;
  border-radius: 0px!important;
  height: 31px;
  width: 97px;
  font-size: 11px;
}

.agendaPage .chevron.right {
  border-style: solid;
  border-width: 0.95em 0.95em 0 0;
  content: '';
  display: inline-block;
  height: 1.95em;
  left: 5.15em;
  position: relative;
  top: 1px;
  transform: rotate(45deg);
  vertical-align: top;
  width: 1.95em;
  font-size: 4px;
  color: #1d1d1e;
}

.agendaPage .next>a>p {
  display: flex;
  align-items: baseline;
  position: relative;
  bottom: 2px;
}

.agendaPage .prev > a {
  border-width: 3px;
  border-color: #1d1d1e!important;
  border-radius: 0px!important;
  height: 31px;
  width: 97px;
}

.agendaPage .te {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 17.5px solid transparent;
  border-right: 17.5px solid transparent;
  border-bottom: 18px solid #FFF;
  position: relative;
  left: 50%;
  margin-left: -17.5px;
  bottom: 13px;
}

.agendaPage .pcOnly {
  display: none;
}

.noM {
  display: block;
}

.number {
  display: block;
border-left: 0;
border-top: 0;
border-bottom: 0;
margin: 0;
font-family: 'lovelo';
font-size: 18px;
color: #1d1d1e;
border-color: #1d1d1e;
border-width: 2px;
height: 20px;
padding-top: 0;
position: relative;
top: 10px;
}


.number4{
  display: block;
  border-right: 0;
}


.noPC {
  display: none;
}


/* =======================================================================
----------------------------| Footer | -----------------------------------
======================================================================= */
.footer_container {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'lovelo';
}

.download_app {
    text-transform: uppercase;
    background: #D8383F;
    vertical-align: middle;
    text-align: center;
    padding:0;
    margin:0;

}
.download_app a {
    color: #ffffff;

}

footer {
    background:#1D1D1E;
    position:absolute;
    width: 100%;
    color: #ffffff;
    padding: 20px 40px 0;
}


.lille img {
    padding-right: 10px;
}

.footer_images {
    margin: 5px;
}

.main_info {
    width: 75%;
    margin: auto;
}

.main_info p, .main_info h1, .main_info li {
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
}
.main_info p,.main_info li {
    font-weight: 10px;
    font-size: 12px;
    line-height: 1.7;
    word-spacing: 1;
    letter-spacing: 0.5px;
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;

}



footer .social img {
    width: 35px;
    margin-right: 5px;
  }


  footer {
    overflow: hidden;
  }

  footer .application {
    background: #d8383f;
    transition: .2s ease;
  }

  footer .application:hover {
    background: white;
  }

  footer .application  {
    color: white;
    overflow: hidden;
  }

  footer .application:hover {
    color: #d8383f;
    text-decoration: none;
  }

  .borderFooter {
    border: 2px solid white;
    padding: 15px;
  }

  .borderFooter:hover {
    border-color: #d8383f;

  }

  footer .application div p:nth-child(3) {
    text-transform: uppercase;
  }

  footer .application .overlay-image {
    padding: 0 27.5px;
  }

   /* Medium devices (desktops, 992px and up) */
@media (min-width:640px) {
  .agendaPage .far {
    font-size: 80px;
  }


  .fa {
    position: relative;
    bottom: 40px;
    font-size: 40px;
  }

  .agenda > p {
    font-family: 'lovelo';
    font-size: 28px;
    margin-top: 15px;
  }

  .agendaPage .figure-caption {
    font-family: 'lovelo';
    color: #1d1d1e;
    margin-left: 30px;
    font-size: 25px;
  }

  .agendaPage select {
    background:#1D1D1E;
    color:#ffffff;
    padding: 0px;
    margin-right: 10px;
    border:none;
  }

  .pric {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26px;
  }

  .agendaPage .next > a {
    border-width: 4px;
    border-color: #1d1d1e;
    border-radius: 0px!important;
    height: 38px;
    width: 127px;
    font-size: 20px;
  }

  .agendaPage .chevron.right {
    border-style: solid;
    border-width: 0.95em 0.95em 0 0;
    content: '';
    display: inline-block;
    height: 1.95em;
    left: 3.15em;
    position: relative;
    top: 0px;
    transform: rotate(45deg);
    vertical-align: top;
    width: 1.95em;
    font-size: 7px;
    color: #1d1d1e;
  }


  .agendaPage .next>a>p {
      display: flex;
      align-items: baseline;
      position: relative;
      height:550px;
      padding: 0;
      overflow: hidden;
      width: 100%;
  }
  .agendaPage .video_text {
      position: absolute;
      top:10%;
      left: 10%;
      text-align: justify;
      text-transform: uppercase;

      color: #ffffff;
      text-align: center;
      font-size: 16px;
      margin:0px auto;

  }
  .agendaPage .video_text .col-lg-5 {
      border-bottom: 15px solid #ffffff;
      border-top: 15px solid #ffffff;
      padding-top: 12%;
  }
  .agendaPage .video_text .row {
      padding: 50px;
      bottom: 6px;
  }

  .agendaPage .page-link {
    margin-right: 40px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {

  .agenda {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
  }

  .dropdown {
    position: absolute;
      top: 60px;
      right: 80px;
  }

  .figure {
    width: 1185px;
  }


  .figure-img {
    height: 274px;
    width: 185px;
  }

  .my-img {
    display: inline-block;
    margin-left: 15px;
  }

  .figure-caption {
    display: inline-block;
    width: 965px;
    position: absolute;
    height: 275px;
    border-top: 1px solid #935297;
    margin-left: 47px;
    padding-top: 41px;
  }

  .figCorner {
    width: 37px;
    height: 37px;
    border-top: solid 16px;
    border-right: solid 16px;
    border-color: #935297;
    position: absolute;
    top: 0;
    right: 0;
  }

  .number:hover {
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    margin: 0;
    font-family: 'lovelo';
    font-size: 18px;
    color: #D8383F!important;
    border-color: #1d1d1e;
    border-width: 2px;
    height: 20px;
    padding-top: 0;
    position: relative;
    top: 10px;
  }

  .dropdown-menu.show {
    width: 240px;
  border: 4px solid;
  border-radius: 0;
  transform: none!important;
  top:35px!important;
  border-top: 0;
  }

}

.te {
  display: none;
}

.pcOnly {
  display: block;
  font-family: sans-serif;
  font-size: 15px;
}

.pc2 {
  display: inherit;
  font-weight: bold;
}


/*==========================================
              Responsive
============================================*/


@media (min-width: 640px) {
  /*==========================================
                Header
  ============================================*/
  header h1 {
    font-size: 2rem;
    letter-spacing: -5px;
  }

  .logoLille {
    font-size: 20px;
    letter-spacing: 0.25rem;
  }

  .visit header p {
    font-size: 30px;
    margin-left: 15px!important;
  }

  header .navbar div:nth-child(1) {
    margin-right: 25px!important;
  }
  header .fas {
    font-size: 2.7rem;
  }

  header nav div > a img:nth-child(1) {
    width: 2.7rem;
  }

  header nav div > a img:nth-child(1) {
    padding-top: 5px;
  }
  header button img {
    width: 47px;
    height: 45px;
  }

  /*==========================================
                Visit
  ============================================*/

  .visit section:nth-child(1) h2 {
    font-size: 28px;
    padding: 15px 0;
  }

  .visit .selectPeople a strong {
    font-size: 42px;
  }

  .visit main a {
    margin-bottom: 3rem;
  }

  .visit main section:nth-child(1) {
    padding: 100px 35px;
  }
  .travel > div img {
    width: 7.5rem;
  }

  .visit .travel h2 {
    letter-spacing: 0.5px;
    font-size: 1.7rem;
  }

  .travel .fas {
    font-size: 32px;
  }

  .vignette > div {
    padding: 47px 47px 0 47px;
    height: 260px;
  }
  .visit .travel a h2 {
    font-size: 3.4rem;
    height: 100px;
    line-height: 3.6rem;
  }
  .travel .vignette p, .vignette strong, .fa-clock {
    font-size: 21px;
  }
  .visit main a strong {
    font-size: 34px;
  }

  .fa-clock {
    font-size: 40px;
    padding-top: 15px;
  }

  .visit main section:last-child .time h2 {
    font-size: 5.4rem;

  }

  .time {
    bottom: 50px;
    right: 47px;
  }

  .incontournables span {
    font-size: 20px;
    line-height: 1.5rem;
  }

  .incontournables .time span:nth-child(2) {
    padding-top: 20px;
  }
  .overlay-image .image {
    width: 325px;
  }


  /*==========================================
                Footer
  ============================================*/
  footer .application p, .borderFooter {
    font-size: 25px;
  }
 }


 @media (min-width: 1280px) {

   /*==========================================
                 Header
   ============================================*/
   .visit .pba {
     font-size: 1.2rem;
     border: 4px solid #fff;
     padding: 4px 10px;
   }
   header {
     padding: 0px 5px 0 30px;
   }
   header h1 span {
     display: block;

   }
   .navbar-light .navbar-brand {
     width: 100%;
   }

   header .navbar div:nth-child(1) {
     -ms-flex: 0 0 25%;
     flex: 0 0 25%;
     max-width: 25%;
   }
   header h1 {
     flex-direction: row !important;
     width: 100%;
     text-align: center;
   }
   header h1, header h1 span, .logoLille {
     font-size: 2rem;
     letter-spacing: 5px;
     margin-right: 15px;
   }

   header h1 span:nth-child(2) {
     margin-right: 0;
   }

   /*==========================================
                 Visit
   ============================================*/

   .visit header p, .navbar-toggler, header div > a, .none-browser  {
     display: none;
   }

   .collapse, header select, .pba, header nav > a:last-child {
    display: block!important;
   }

   .navbar div:nth-child(2) {
     -ms-flex: 0 0 28%;
     flex: 0 0 28%;
     max-width: 100%;
     justify-content: initial!important;
   }

   .navbar div div:nth-child(2) {
      order: 2;
   }

   .navbar-nav {
     flex-direction: row;
   }

   .nav-item {
     width: 100%;
     padding: 0 10px;
     font-size: 1.2rem;
   }

   .nav-item a {
     padding: 0 10px;
   }

   .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
     color: #d8383f;
   }

   .selectPeople a:nth-child(1) {
     background: url("../img/Individuel.jpg");
   }
   .selectPeople a:nth-child(2) {
     background: url("../img/Groupe.jpg");
   }
   .selectPeople a:nth-child(3) {
     background: url("../img/Famille.jpg");
   }
   .selectPeople a:nth-child(4) {
     background: url("../img/Etudiant.jpg");
   }
   .selectPeople a:nth-child(5) {
     background: url("../img/Enseignant.jpg");
   }

   .selectPeople a:nth-child(1), .selectPeople a:nth-child(2), .selectPeople a:nth-child(3), .selectPeople a:nth-child(4), .selectPeople a:nth-child(5) {
     background-position: center center;
     background-size: cover;
   }


   .visit .selectPeople a {
     -ms-flex: 0 0 20%;
     flex: 0 0 20%;
     max-width: 20%;
     width: 20%;
     padding-bottom: 40%;
     vertical-align: top;
     display: inline-block;
     position: relative;
     vertical-align: top;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
   }

   .visit section:nth-child(1) h2 {
     font-size: 18px;
     line-height: 18px;
   }

   .visit .selectPeople a strong {
     font-size: 27px;
     margin: 0!important;
   }

   .visit main section:nth-child(1) {
      padding: 0;
      margin: 42px 0 0 0 !important;

   }

   .visit section:nth-child(1) h2 {
     position: absolute;
     width: 76.172%;
     left: 11.914%;
     height: 139px;
     bottom: 183px;
     padding: 40px 22px 0 22px;
     background-color: rgba(255, 255, 255, 0.9);
     text-align: left;
   }
   .travel div {
     align-items: center;
   }
   .visit .travel h2 {
     max-width: 23%;

   }
   .travel > div img {
     width: 5.3rem;
   }

   .visit .travel h2 {
    font-size: 1.5rem;
   }
   .travel a:nth-child(2), .travel a:nth-child(3), .travel a:nth-child(4), .travel a:nth-child(5), .travel a:nth-child(6), .travel a:nth-child(7), .travel a:nth-child(8), .travel a:nth-child(9)  {
     max-width: 25%;
   }

   .visit .vignette {
     padding-bottom: 37.5%;
   }

   .vignette > div {
     width: 70.31%;
     left: 18.845%;
     min-height: 139px;
     bottom: 144px;
     padding: 10px 25px 0 25px;
     height: 139px;
   }

   .visit .travel a h2 {
     font-size: 1.8rem;
     height: 0;
     line-height: 1.9rem;
     max-width: 100%;
   }

  .vignette strong, .fa-clock, .visit main a strong {
     font-size: 20px;
   }

    .travel .vignette p  {
      font-size: 15px;
      letter-spacing: -1px;
      margin: 0;
    }

    .incontournables {
      display: flex;
      justify-content: space-around;
    }
    .incontournables a {
      max-width: 25%;
      background-position: center center;
      background-size: cover;
      padding-bottom: 37.5%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      color: #1D1D1E;
    }

    .incontournables .vignette > div {
      left: 4.5%;
    }

    .incontournables .fa-clock {
      position: relative;
      right: 30px;
      bottom: 10px;
    }

    .time {
      bottom: 5px;
      right: 20px;
    }
    .visit main section:last-child .time h2 {
      font-size: 3rem;
    }

    .incontournables .time span:nth-child(2) {
      padding-top: 0;
    }

    .incontournables span {
      font-size: 14px;
      line-height: 1rem;
    }

    .overlay-image .image {
      width: 167.7px;
    }

    /*==========================================
                  Footer
    ============================================*/
    footer .application .overlay-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    footer .application .overlay-image > div {
      max-width: 50%;
      position: relative;
    }

    .application div div div {
      display: flex;
      flex-direction: column-reverse;
      margin-left: 10px;
    }

    .application p {
      border-color: transparent;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.wrapper {

}
