/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #1D1D1E;


}
@font-face {
    font-family: 'pba';
    src: url('pba.ttf') format("truetype");
}

@font-face {
    font-family: 'lovelo';
    src: url('lovelo.ttf') format("truetype");
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;

}

=======
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'pba';
  src: url('pba.ttf') format("truetype");
 }

 @font-face {
   font-family: 'lovelo';
   src: url('lovelo.ttf') format("truetype");
  }

/* ==========================================================================
----------------------------| text-align:center | --------------------------
=========================================================================== */
.mon-pba,
.header h1,
.header p {
    text-align: center;
    
}
body a:hover {
    color:#D8383F!important;
    text-decoration: none;
}




.wrapper {
    padding: 0;
    margin: 0; 
}

/* ==========================================================================
   ----------------------------| navbar | -----------------------------------
   ======================================================================= */


.navbar {
    background:#1D1D1E!important;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.navbar a  {
    color:#ffffff!important;
    margin: 8px;
    font-weight: 900;
    font-size: 20px;
    font-family: 'lovelo';
    
    
    
}
.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 1.5px;
    font-family: 'pba';
    font-size: 25px;
}


.mr-sm-2 {
    border: 4px solid #fff!important;
    border-radius: 0;
    background: #1D1D1E;
    padding: 13px;
    margin: 10px;
    width: 150px!important;
    height: 30px;
}


.mon_pba{
    border:4px solid #ffffff;
    background: #1D1D1E;
    color: #ffffff;
    width: 120px;
    font-weight: 900;
    margin: 4px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    padding: 1px
    
}



select {
    background:#1D1D1E;
    color:#ffffff;
    padding: 0px;
    margin-right: 10px;
    
    border:none;
}

.logo {
    margin: 10px;
    width: 50px;
}


/* =======================================================================
----------------------------| Video bg | ---------------------------------
======================================================================= */

.video_background {
    position: relative;
    height:550px;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.video_text {
    position: absolute;
    top: 120px;
    left: 150px;
    text-align: justify;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin:0px auto;
    
}
.video_text .col-lg-5 {
    border-bottom: 15px solid #ffffff;
    border-top: 15px solid #ffffff;
    padding-top: 12%;
}
.video_text .row {
    padding: 50px;
}
.video_text h1 {
    font-weight: 900;
}
.video_text p {
    font-weight: 900;
    
}












/* ======================================================================
----------------------------|Slide image | ------------------------------
======================================================================= */

.img-fluid {
    overflow: hidden;
}



.carousel-inner {
    position: relative;
    overflow: hidden;

}



.carousel_header {
    position: absolute;
    border-top: 14px solid #ffffff;
    border-bottom: 14px solid #ffffff;
    
}
.carousel_header h3 {
    text-transform: uppercase;
}

.carousel-item {
    position: relative;
    height: auto;
}

.carousel-caption {
    position: absolute;
    top:20%;
    bottom: 10%;
}

.carousel_header h3,.carousel_header p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*.carousel-control-prev-icon, .carousel-control-next-icon {
    color: red;
}*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");    
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}





.keys h1, .keys {
    color:#ffffff;
    font-weight: 900;
}



/* =======================================================================
----------------------------| 4 images | ---------------------------------
======================================================================= */
.gallery {
    position: relative;
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
}
.gallery .img-fluid {
    width: 100%;
}

.four-images {
    margin-right: 0;
    margin-left: 0;
}

.text_over_image a {
    position: absolute;
    color:#000000;
    bottom: 10%;
    left: 30%;
    width: 200px;
    height: 200px;
    background: #ffffff;
    overflow:hidden;
    padding: 10px;   
}



.four-images img {
    height: 400px!important;
}

.text_over_image h2 {
    font-weight: 900;
}

.col-lg-3 {
    padding: 0;
    margin: 0;
}




/* =======================================================================
---------------------------| Two links| ---------------------------------
======================================================================= */

.big_link{
    border: 3px solid #ffffff;
    display: block;
    color: #ffffff;
    padding: 20px 0px;
    width: 40%;
    margin: 30px auto;
    display: block;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    
}

.big_link a:hover{
    color:#D8383F!important;
}
.big_link a {
    color:#ffffff;
    padding: 0 0 0 10px;
    font-weight: 900;
}



.instagram  {
    text-align: center; 
    color: #ffffff;
    padding: 30px;
}
.instagram img{
    padding: 20px;
    vertical-align: middle;
}

.instagram span {
    text-transform: uppercase;
    font-weight: 900;
    padding: 20px 0;
}
.instagram p {
    font-size: 20px;
    vertical-align: middle;
    
}
.instagram p {
    display: inline-block
}



/* =======================================================================
----------------------------| 5 images |----------------------------------
======================================================================= */
.hidden_image{
    padding: 0;
    margin: 0;
}




.download_app {
    text-transform: uppercase;
    background: #D8383F;
    vertical-align: middle;
    text-align: center;
    padding: auto;
    margin:0;
    
}
.download_app a {
    color: #ffffff;
}


.download_app:hover {
    background-color: #ffffff;
    color:#D8383F;
}


.download_app {
    display: inline-block;
    width: 100%;
    line-height: 0.3px;
}

.lille {
    background-color: #ffffff;
    padding: 25px;
}
.lille a {
    color: #000000;
    font-weight: 800;
}
.lille a:hover{
    color:#D8383F;

}
.lille img {
    padding-right: 10px;
}
/* =======================================================================
----------------------------| Footer | -----------------------------------
======================================================================= */
.footer_container {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'lovelo';
}





footer {
    background:#1D1D1E;
    position:absolute;
    width: 100%;
    color: #ffffff;
    padding: 20px 40px 0;

}
footer a {
    color: #ffffff;
}
.main_info {
    width: 75%;
    margin: auto;
}

.main_info p, .main_info h1, .main_info li {
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
}
.main_info p,.main_info li {
    font-weight: 10px;
    font-size: 12px;
    line-height: 1.7;
    word-spacing: 1;
    letter-spacing: 0.5px;
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    
}
.footer_images {
    margin: 5px;
}


footer .social img {
    width: 35px;
    margin-right: 5px;
    
}


footer img {
    width: 40px;
}

.img-footer {
    padding-right: 10px;
}

.bank_logo {
    width: 190px;
    padding: 20px
}
<<<<<<< HEAD
=======



/* ===================================================================
----------------------------- |header |-------------------------------
------------------------------------------------------------------- */
.header h1, .header p {
    
}





video {
    height: 800px;
}































>>>>>>> 2dfe77a59b0ea658e14aa52f93a6712948aeef0e
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.wrapper {
    
}
